body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.header-box{
    background-color: #FF9E6C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 20px;
}

/* Colors: 
#EF7979 - Background color
#A8396D - Navbar color
#F9E5A8 - Yellow
#FF9E6C - Orange
*/

/* Content Formatting underneath navbar */
.formatting-3-containers{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


/* Middle Center piece */
.main-content-container {
  flex: 1; /* Take up remaining space */
  /* display: flex;
  flex-direction: column; */
  max-width: 1190px; 
  margin: 0 auto;   /* this centers it horizontally */
  padding: 20px;    /* optional spacing inside the container */
}

.main-bg{
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    background-color: #F9E5A8;
}

#with-without-container{
    margin-top: 20px;
}

/* with-without tabs */
.customize-tabs .nav-link {
  color: black;
  background-color: #FF9E6C;
}

/* !important is used here to override Bootstrap's default styles. */
.customize-tabs .nav-link.active {
  background-color: #ab6542 !important; /* Tab background when active */
  color: rgb(12, 12, 12) !important;             /* Text color when active */
  border-color: #ab6542 !important;     /* Optional: matching border */
}

.customize-tabs .nav-link:hover{
    background-color: #cf7e55;
    color: white;
    border: none;
}

#textarea-ingredients{
    margin-top: -17px;
    background-color: white;
    border-top-left-radius: 0;
    border: none;
    max-height: 200px;
}

.display-box{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    max-width: 1190px;
    overflow: hidden;

    margin-top: 30px;
}

.display-box p{
    text-align: start;
}

.display-box pre {
  white-space: pre-wrap;   /* Wrap lines while keeping line breaks */
  word-wrap: break-word;   /* Break long words if needed */
  overflow-wrap: break-word; /* Modern alias for word-wrap */
  text-align: start;
}

#submit-btn{
    display: block;
    margin-left: auto;

    background-color: #FF9E6C;
    border-color: #FF9E6C;
    color: black;
}

#submit-btn:hover{
    background-color: #cf7e55;
    border-color: #cf7e55;
}

/* Recipe Cards */
.card-bg{
    background-color: #F9E5A8;
    margin-top: 20px;
    border-radius: 10px;
    padding: 100px;
    padding-bottom: 800px;
}

/* Right side of Homepage */
.right-container{
    margin-right: 20px;
    margin-top: 40px;
    text-align: center;

    position: sticky;
    top: 20px; 
    
    align-self: flex-start;
    max-height: 90vh;
    overflow-y: auto;

    overflow: visible; /* Cookbook-btn doesn't look like its expanding within a container with this*/
}

/* Your cookbook button */
#cookbook-btn{
    padding: 50px;
    background-color: #F9E5A8;
    color: black;
    border-color: #FF9E6C;
    border-width: 5px;
    border-radius: 10px;
    
    transition: transform 0.3s ease;
}

#cookbook-btn:hover{
    background-color: #f1d275;
    color: black;
    border-color: #ff8446;
    transform: scale(1.1);
    
}

#cookbook-btn:active,
#cookbook-btn.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #e8682a !important; /* On click */
  border-color: #e8682a !important;
  color: #ffffff !important;
}

/* Favorites */
#favorites-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#favorites-bg{
    background-color: #F9E5A8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    padding-bottom: 359px;
}