/* Colors: 
#EF7979 - Background color
#A8396D - Navbar color
#F9E5A8 - Yellow
#FF9E6C - Orange
*/

.cookbook-container{
    padding: 0 20px;
}

.cookbook-header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* Remove the bottom margin that was creating a gap */
    margin-bottom: 0;
}

#cookbook-title{
    margin-bottom: 15px;
    margin-left: 20px;
}

/* cookbook tabs group */
.cookbook-tabs {
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: -13px;
    /* position: relative; Nudges the position */
    /* z-index: 1; Makes sure tabs appear on top of the border */
}

.add-recipe-btn {
  color: black !important; 
  background-color: #FF9E6C !important;
  border: none !important;
}

/* !important is used here to override Bootstrap's default styles. */
.add-recipe-btn:active {
  background-color: #ab6542 !important; /* Tab background when active */
  color: rgb(12, 12, 12) !important; /* Text color when active */
  border-color: #ab6542 !important;  
}

.add-recipe-btn:hover{
    background-color: #cf7e55 !important;
    color: white !important;
    border: none !important;
}

.cookbook-yellow-bg{
    height: 700px;
    padding: 20px;
    background-color: #F9E5A8;

    border-radius: 20px;
    border-color: #FF9E6C;
    border-width: 5px;
    border-style: solid;
}

.cookbook-white-bg{
    height: 100%;
    background-color: white;
    border-radius: 10px;
    
    padding: 20px;
    overflow-y: auto; /* When content overflows, vertical scrolling is enabled */
}

.vertical-line {
    height: 100%;
    border-left: 1px solid #ccc;
}